USE [master]
GO
/****** Object:  Database [Novadule_Technologies]    Script Date: 23-02-2026 18:29:52 ******/
CREATE DATABASE [Novadule_Technologies]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Novadule_Technologies', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Novadule_Technologies.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Novadule_Technologies_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Novadule_Technologies_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Novadule_Technologies].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Novadule_Technologies]
GO
/****** Object:  Table [dbo].[UserRegistration]    Script Date: 23-02-2026 18:29:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRegistration](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](50) NULL,
	[LastName] [varchar](50) NULL,
	[DOB] [date] NULL,
	[Gender] [varchar](10) NULL,
	[Address] [varchar](300) NULL,
	[IsVaccinated] [bit] NULL,
	[CertificatePath] [varchar](300) NULL,
	[CountryCode] [varchar](10) NULL,
	[Mobile] [varchar](15) NULL,
	[Email] [varchar](100) NULL,
	[Password] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[DeleteUser]    Script Date: 23-02-2026 18:29:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteUser]
(
    @Id INT
)
AS
BEGIN

    DELETE FROM UserRegistration
    WHERE Id = @Id

END
GO
/****** Object:  StoredProcedure [dbo].[GetAllUsers]    Script Date: 23-02-2026 18:29:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAllUsers]
AS
BEGIN

    SELECT 
        Id,
        FirstName,
        LastName,
        DOB,
        Gender,
        Address,
        IsVaccinated,
        CertificatePath,
        CountryCode,
        Mobile,
        Email FROM UserRegistration
  

END
GO
/****** Object:  StoredProcedure [dbo].[InsertUser]    Script Date: 23-02-2026 18:29:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[InsertUser]
(
    @FirstName VARCHAR(50),
    @LastName VARCHAR(50),
    @DOB DATE,
    @Gender VARCHAR(10),
    @Address VARCHAR(300),
    @IsVaccinated BIT,
    @CertificatePath VARCHAR(300),
    @CountryCode VARCHAR(10),
    @Mobile VARCHAR(15),
    @Email VARCHAR(100),
    @Password VARCHAR(100)
)
AS
BEGIN

    INSERT INTO UserRegistration
    (
        FirstName,
        LastName,
        DOB,
        Gender,
        Address,
        IsVaccinated,
        CertificatePath,
        CountryCode,
        Mobile,
        Email,
        Password
    )
    VALUES
    (
        @FirstName,
        @LastName,
        @DOB,
        @Gender,
        @Address,
        @IsVaccinated,
        @CertificatePath,
        @CountryCode,
        @Mobile,
        @Email,
        @Password
    )

END
GO
/****** Object:  StoredProcedure [dbo].[UpdateUser]    Script Date: 23-02-2026 18:29:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateUser]
(
    @Id INT,
    @FirstName VARCHAR(50),
    @LastName VARCHAR(50),
    @DOB DATE,
    @Gender VARCHAR(10),
    @Address VARCHAR(300),
    @IsVaccinated BIT,
    @CertificatePath VARCHAR(300),
    @CountryCode VARCHAR(10),
    @Mobile VARCHAR(15),
    @Email VARCHAR(100)
)
AS
BEGIN

    UPDATE UserRegistration
    SET
        FirstName = @FirstName,
        LastName = @LastName,
        DOB = @DOB,
        Gender = @Gender,
        Address = @Address,
        IsVaccinated = @IsVaccinated,
        CertificatePath = @CertificatePath,
        CountryCode = @CountryCode,
        Mobile = @Mobile,
        Email = @Email
    WHERE Id = @Id

END
GO
USE [master]
GO
